p {
    margin-bottom: 5px;
}
.offer {
    display: flex;
}
.articles {
    margin-top: 100px;
    margin-left: 50px;
}
.firstOffer h4 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.firstOffer p {
    font-size: 14px;
    margin-left: 30px;
}
.secondOffer h4 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.secondOffer p {
    font-size: 14px;
    margin-left: 30px;
}
.thirdOffer h4 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.thirdOffer p {
    font-size: 14px;
    margin-left: 30px;
}
.fourOffer h4 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.fourOffer p {
    font-size: 14px;
    margin-left: 30px;
}
.fiveOffer h4 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.fiveOffer p {
    font-size: 14px;
    margin-left: 30px;
}
.sixOffer h4 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.sixOffer p {
    font-size: 14px;
    margin-left: 30px;
}
.sevenOffer h4 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.sevenOffer p {
    font-size: 14px;
    margin-left: 30px;
}
.navigation {
    margin-left: 50px;
    margin-top: 140px;
    font-size: 14px;
    color: black;
}
.navigation p {
    width: 200px;
    margin-bottom: 10px;
}